<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% load static %}

{% block content %}
        {%  if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
{#    Container for text#}
    <div class="container mt-4" style="margin-bottom: 0px;">  {# siit saab jätta õhku konteinerite vahele #}
        <div class="row">
            <!-- Left side content -->
            <div class="col-sm-6">
                <div class="leftbar p-r-20 p-r-0-sm">
                    <h1>Welcome to Worldwide Hidden Gems E-Shop</h1>
                    <h5>Explore our products</h5>
                </div>
            </div>

{#    Container for API#}
    <div class="col-sm-6">
            <div class="leftbar p-r-20 p-r-0-sm">
                <h1>Next Upcoming Holiday</h1>
                <p>Holiday: {{ next_holiday.name }}</p>
                <p>Date: {{ next_holiday.date }}</p>
                <p>Days remaining: <span id="days"></span> days</p>
                <p>Hours remaining: <span id="hours"></span> hours</p>
                <p>Minutes remaining: <span id="minutes"></span> minutes</p>
                <p>Seconds remaining: <span id="seconds"></span> seconds</p>

                <span id="targetDate" data-date="{{ next_holiday.date }}"></span>
            </div>
        </div>
    </div>
</div>
{#    Container for random products#}
    <div class="product-container-ap">
    {#    <h1 class="text-center">WWHG Randomly Generated Products</h1>#}
        {% if random_products %}
            <div class="product-container-ap">
                {% for product in random_products %}
                    <div class="product-details-ap">
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image-ap">
                            <h2 class="product-title-ap">{{ product.name }}</h2>
                            <p class="product-price-ap">{{ product.price }} €</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div>
                <h3>We are sorry, but there are no randomly generated products available.</h3>
            </div>
        {% endif %}
    </div>
    <script src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
