<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% load static %}

{% block content %}
        {%  if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"
                    {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
{#    Container for text#}
    <div class="container mt-4" style="margin-bottom: 100px;">
        <div class="row">
            <!-- Left side content -->
            <div class="col-sm-6">
                <div class="leftbar p-r-20 p-r-0-sm">
                    <h1>Welcome to Worldwide Hidden Gems E-Shop</h1>
                    <h5>Explore our products</h5>
                </div>
            </div>

            <!-- Right side content -->
            <div class="col-sm-6">
                <div class="api-container">
                    <h2>Upcoming Holiday</h2>
                    <div class="holiday-details">
                        <p class="holiday-name">{{ next_holiday.name }}</p>
                        <p class="holiday-date">
                            Date: {{ next_holiday.date }}
                        </p>
                        <h5>Go and buy some Gifts</h5>
                    </div>
                    <div class="countdown">
                        <div class="time-unit">
                            <span id="days"></span>
                            <span>Days</span>
                        </div>
                        <div class="time-unit">
                            <span id="hours"></span>
                            <span>Hours</span>
                        </div>
                        <div class="time-unit">
                            <span id="minutes"></span>
                            <span>Minutes</span>
                        </div>
                        <div class="time-unit">
                            <span id="seconds"></span>
                            <span>Seconds</span>
                        </div>
                        <span id="targetDate"
                              data-date="{{ next_holiday.date }}">

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    Container for random products#}
    <div class="product-container-ap s-container">
    {#    <h1 class="text-center">WWHG Randomly Generated Products</h1>#}
        {% if random_products %}
            <div class="product-container-ap">
                {% for product in random_products %}
                    <div class="product-details-ap">
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.image.url }}"
                                 alt="{{ product.name }}"
                                 class="product-image-ap">
                            <h2 class="product-title-ap">
                                {{ product.name }}
                            </h2>
                            <p class="product-price-ap">
                                {{ product.price }} €
                            </p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div>
                <h3>
                    We are sorry, but there are no randomly generated products
                    available.
                </h3>
            </div>
        {% endif %}
    </div>
    <script src="{% static 'js/countdown.js' %}"></script>
{% endblock %}
