{% extends "base.html" %}

{% block title %}Randomly Generated Products{% endblock %}

{% load static %}

{% block content %}
<div class="product-container-ap">
    <h1 class="text-center">WWHG Randomly Generated Products</h1>
    {% if random_products %}
        <div class="product-container-ap">
            {% for product in random_products %}
                <div class="product-details-ap">
                    <a href="{% url 'product_detail' product.id %}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image-ap">
                        <h2 class="product-title-ap">{{ product.name }}</h2>
                        <p class="product-price-ap">{{ product.price }} €</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div>
            <h3>We are sorry, but there are no randomly generated products available.</h3>
        </div>
    {% endif %}
</div>

{% endblock %}

