
body {
    background-color: rgba(187, 215, 236, 0.9);
    font-family: "Felix Titling", sans-serif;
        }

        .product-container {
            display: flex;
            align-items: center;
            padding: 20px;
            border-bottom: 1px solid #a41919;
        }

        .product-image {
            width: 300px;
            height: 300px;
            margin-right: 20px;
        }

        .product-details {
            flex: 1;
        }

        .product-title {
            font-size: 40px;
            margin: 0;
        }

        .product-description {
            color: #666;
        }

        .product-price {
            font-size: 35px;
            font-weight: bold;
            color: #333;
        }