@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


/*MAIN BACKGROUND COLOR*/
/*rgb(18, 46, 78)*/

body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.center-both {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.logo {
    display: flex;
    padding: 10px; /* Add padding to create some space around the logo */
    border-radius: 20px;

    /* Optional: Adjust the logo size */
    max-width: 200px;
    height: auto;
}

.menu {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.95);
}

.one-edge-shadow {
    box-shadow: 0 5px 2px -5px rgb(18, 46, 78);
}

.display-8 {
    font-weight: 300;
    font-size: 50px;
}

.container-menu {
    background-color: rgba(255, 255, 255, 0.5);
}

.back-button {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

/*[ BASE ]
///////////////////////////////////////////////////////////
*/

.name-menu {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.95);
}

.custom-button-container {
    display: flex;
    justify-content: space-between; /* Align items equally */
    align-items: center; /* Center items vertically */
    flex-wrap: wrap; /* Wrap items to the next line if needed */
    width: 100%; /* To ensure the container takes full width */
}

.custom-button-b {
    display: inline-grid;
    padding: 10px 150px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #170c0c;
    border: none;
    border-radius: 10px;
    text-decoration: indigo;
    transition: background-color 0.2s ease-in-out;
}

.custom-button-b:hover {
    background-color: rgb(228, 231, 236);
}

.nav-link-m {
    margin-right: 20px; /* Add right margin between menu buttons */
}

.custom-justify-between {
    display: flex;
    justify-content: space-between;
    /* Adjust the spacing between menu buttons */
    gap: 30px; /* You can change this value as needed */
}

.b-box-element {
    border: none;
    background-color: #fff;
    padding: 0;
}

.c-register-form {
    width: 100%; /* Ensure description takes full width */
    box-sizing: border-box;
    margin-bottom: 3px;
    background-color: #fff;
}

.alert {
    padding: 5px;
    border: 2px solid #ccc;
    background-color: rgba(151, 162, 178, 0.21);
    color: #333;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Style the heading of the alert */
.alert h4 {
    margin: 0;
    font-size: 10px;
    color: #333;
}

.badge.badge-info {
    background-color: rgb(18, 46, 78); /* Background color */
    color: #fff; /* Text color */
}

/*[ ALL-PRODUCTS VIEW ]
///////////////////////////////////////////////////////////
/**/
.product-container-ap {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px; /* Add spacing on the left, LEHELE */
    margin-right: 25px; /* Add spacing on the right, LEHELE  */
    padding: 20px; /* Add spacing around the entire product grid */
    background-color: #ffffff; /* Background color for the entire grid */
    border-radius: 15px; /* Add rounded corners to the entire grid */
}

.product-details-ap {
    flex: 0 0 calc(25% - 30px); /* Four products per row, considering the margin */
    padding: 30px; /* Increased padding */
    box-sizing: border-box;
    background-color: #f2f2f2; /* Grey background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    margin: 20px 15px; /* Adjusted margin for spacing between elements */
    transition: transform 0.2s ease-in-out; /* Add a transition effect for hover */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-details-ap:hover {
    transform: translateY(-5px); /* Add a slight lift effect on hover */
}

.product-image-ap {
    max-width: 90%; /* Slightly larger image size */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image */
    border-radius: 10px;
}

.product-title-ap {
    font-size: 30px;
    font-family: Montserrat, sans-serif; /* Larger text size */
    color: rgb(18, 46, 78);;
    margin: 15px 0; /* Adjusted margin */
    line-height: 1.2; /* Improved line spacing */
}

.product-price-ap {
    font-size: 25px; /* Larger text size */
    color: rgb(18, 46, 78, 0.7);
    margin: 10px 0; /* Adjusted margin for price */
}

/* Media queries for responsive layout */
@media (max-width: 1200px) {
    .product-details-ap {
        flex: 0 0 calc(33.33% - 30px); /* Three products per row for smaller screens */
    }
}

@media (max-width: 992px) {
    .product-details-ap {
        flex: 0 0 calc(50% - 30px); /* Two products per row for even smaller screens */
    }
}

@media (max-width: 768px) {
    .product-details-ap {
        flex: 0 0 calc(100% - 30px); /* One product per row for mobile screens */
    }
}

/*[ PRODUCT DETAIL VIEW ]
///////////////////////////////////////////////////////////
*/

.product-container-dv {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ffffff;
    max-width: 2560px;
    margin-bottom: 70px;
}

.product-image-dv {
    max-width: 600px; /* Limit the image width to fit its container */
    max-height: 600px; /* Set a maximum height to prevent excessive stretching */
    border-radius: 50px;
    margin: auto;
}

.product-image-container-dv {
    flex: 1; /* Take up 50% of the available space */
    display: flex;
    justify-content: flex-end; /* Push the image to the right side */
}

.product-details-dv {
    flex: 1;
    border: 3px solid #ddd;
    border-radius: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column; /* Adjust the flex direction */
    align-items: center; /* Center align content */
    max-width: 900px;
    margin: 0 auto;

}

.product-title-dv {
    font-size: 40px;
    font-family: Montserrat, sans-serif;
    color: rgb(18, 46, 78);
    margin: 0;
    text-align: center;
    white-space: nowrap; /* Ensure title stays in one line */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis if the text overflows */
}


.product-description-dv {
    font-family: Montserrat, sans-serif;
    color: rgba(18, 46, 78, 0.8);
    font-size: 20px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px; /* Add padding for better readability */
    width: 100%; /* Ensure description takes full width */
    box-sizing: border-box;
    margin: 10px 0; /* Add margin for spacing */
    border-radius: 10px;
}

.product-price-dv {
    font-size: 40px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    color: rgba(18, 46, 78);
    text-align: center;
    margin-top: 20px; /* Add spacing from the description */
}

/* ... (Add to cart button) ... */

.add-to-cart-button-container {
    text-align: center;
    margin-top: 20px;
    width: 170px; /* Ensure the button container takes full width */
}

.add-to-cart-button {
    display: inline-block;
    padding: 10px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    white-space: nowrap; /* Prevent button text from breaking into multiple lines */
    max-width: 100%; /* Ensure the button does not exceed its container's width */
    box-sizing: border-box; /* Include padding and border in the width */
}

.add-to-cart-button:hover {
    background-color: #45a049;
}
/*  --------GO TO CART BUTTON -------*/

.go-to-cart-button-container {
    text-align: center;
    margin-top: 20px;
    width: 300px; /* Ensure the button container takes full width */
    margin-left: -45px;
}

.go-to-cart-button {
    display: inline-block;
    padding: 10px 30px;
    font-size: 18px;
    background-color: rgb(45, 128, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    white-space: nowrap; /* Prevent button text from breaking into multiple lines */
    max-width: 150%; /* Ensure the button does not exceed its container's width */
    box-sizing: border-box; /* Include padding and border in the width */
}

.go-to-cart-button:hover {
    background-color: #45a049;
    color: white;
}
/*---- CONTINUE SHOPPING BUTTON ----*/

.c-back-button {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -20px;
    margin-bottom: 20px;
}
/*index css*/


.custom-button-container {
    width: 1100px; /* Adjust the width as needed */
}

.custom-button {
    display: inline-block;
    padding: 8px;
    font-size: 20px;
    background-color: rgba(4, 10, 21, 0.87);
    color: #0e0707;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    margin-right: 10px;
    flex: 1;
    max-width: 100px;
}

.custom-button:last-child {
    margin-right: 0;
}

.custom-button:hover {
    background-color: rgb(3, 19, 98);
}

/*register css*/

.register-form {
    border: 3px solid #ddd;
    padding: 20px; /* Add padding for better readability */
    width: 800px; /* Ensure description takes full width */
    box-sizing: border-box;
    border-radius: 20px;
}

.register-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 30vh;
}

/*edit profile css*/

.edit-profile-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px; /* Adjust the height as needed */
    margin-top: 50px; /* Adjust the top margin as needed */
    margin-bottom: 100px; /* Adjust the bottom margin as needed */
}

.quantity-input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.e-back-button {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -50px;
}

/*[ CART_DETAIL VIEW ]
///////////////////////////////////////////////////////////
*/

.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
}

.cart-row {
    display: flex;
    align-items: center; /* Center vertically */
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
    font-size: 20px;
}

.row-image {
    width: 100px;
    flex: 2;
    transform: rotate(-3deg)
}

.quantity {
    font-weight: 700;
    margin-right: 10px; /* Add margin to separate from arrows */
}

.quantity-button {
    background: none; /* Remove background */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;

}

.quantity-button img {
    width: 12px;
    cursor: pointer;
    display: block;
}

.shopping-register-box {
    display: table;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin: 10vh;
}

.shopping-register-form {
    border: 3px solid #ddd;
    padding: 100px;
    width: 90%; /* This will ensure the container takes up 90% of its parent's width */
    max-width: 1800px; /* Optional, to set a maximum width if needed */
    box-sizing: border-box;
    margin: 0 auto; /* This is key. It centers the container horizontally */
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 20px;
}

.quantity-form {
    display: flex;
    align-items: center;
}

.quantity-container {
    font-weight: 700;
    margin-right: 10px; /* Add margin to separate from arrows */
}

.box-h5 {
    margin-right: -170px;
}

/*[ CART_CHECKOUT VIEW ]
///////////////////////////////////////////////////////////
*/

.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}


.co-register-box {
    display: table;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin: 10vh;
}

.co-register-form {
    border: 3px solid #ddd;
    padding: 40px; /* Add padding for better readability */
    width: 70%; /* Ensure description takes full width */
    box-sizing: border-box;
    margin-left: 250px;
    margin-top: 50px;
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 20px;
}

.co-register-box {
    display: table;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin: 10vh;
}

.hidden {
    display: none !important;
}

.co-row-image {
    width: 50px;
}

.co-body {
    font-family: Arial;
    font-size: 17px;
    padding: 8px;
}

* {
    box-sizing: border-box;
}

.co-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.checkout-container {
    display: flex;
    flex-wrap: wrap;
}

.co-col-75{
    flex: 0 0 calc(40% - 10px); /* Adjust the width as needed */
    margin-right: 100px; /* Add spacing between containers */
}


.col-75 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.co-container {
    background-color: #ffffff;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 50px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.co-btn {
    background-color: rgba(0, 128, 0, 0.78);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.co-btn:hover {
    background-color: #218838;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns
stack on top of each other instead of next to each other (also change the direction -
make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}

.co-shopping-register-form {
    border: 3px solid #ddd;
    padding: 40px; /* Add padding for better readability */
    width: 80%; /* Ensure description takes full width */
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: 250px;
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #ffffff;
    border-radius: 20px;
}

/*[ SEARCH BUTTON VIEW ]
///////////////////////////////////////////////////////////
*/
/* Style the search container */
.search-container {
    text-align: center;
    margin-top: 5px;
    margin-left: 350px;
}

/* Style the search input */
.search-input {
    padding: 10px;
    width: 200px;
    border: 5px solid #ccc;
    box-shadow: hsl(0, 0%, 100%) 0 0 16px;
    border-radius: 1px;
    font-size: 15px;
}

/* Style the search button */
#search-button {
    padding: 10px 20px;
    background-color: rgb(18, 46, 78);
    color: white;
    border: none;
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Style the search button on hover */
#search-button:hover {
    background-color: #0056b3;
}

.s-container {
    margin-bottom: 300px;
}

.ml-auto {
    margin-left: 5px;
}

/* Style the "fa-search" icon */
.fa-search {
    font-size: 24px; /* Adjust the size as needed */
    color: #333; /* Set the color as desired */
    /* Add other styles as needed */
}

/* Style the icon on hover (optional) */
.fa-search:hover {
    color: #007BFF; /* Change color on hover */
    /* Add other hover styles as needed */
}

.co-row-image {
    width: 50px;
}

.vana-footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: rgba(18, 46, 78, 0.7); /* You can change the background color */
    color: white; /* You can change the text color */
    padding: 10px; /* Adjust the padding as needed */
}

.joke-box {
    border: 1px solid #ccc; /* Add a border around the box */
    padding: 10px; /* Add some padding inside the box */
    background-color: #f7f7f7; /* Set the background color */
    border-radius: 10px;
}

/* Add this CSS for messages */
.messages {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.messages li {
    background-color: rgba(50, 119, 105, 0.78); /* Background color for success messages */
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
}

.messages li.error {
    background-color: rgba(255, 0, 0, 0.78); /* Background color for error messages */
}

.messages li.warning {
    background-color: rgba(255, 255, 0, 0.78); /* Background color for warning messages */
}

.messages li.info {
    background-color: rgba(0, 0, 255, 0.78); /* Background color for info messages */
}

.messages li.success {
    background-color: rgba(0, 128, 0, 0.78); /* Background color for success messages */
}

/* Style the message icon */
.messages li i {
    margin-right: 5px;
}

.api-container {
    background-color: #f5f5f5; /* A light gray background for visual distinction */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for elevation */
}

.btn-outline-dark {
    color: rgb(18, 46, 78); /* Text color */
    border-color: #343a40; /* Border color */
    background-color: transparent; /* Transparent background */
}

/* Hover effect */
.btn-outline-dark:hover {
    color: #fff; /* Text color on hover */
    background-color: rgb(18, 46, 78); /* Background color on hover */
}

.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: transparent;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    color: #fff; /* Text color on hover */
    background-color: rgb(126, 45, 45); /* Background color on hover */
}

.btn-success {
    width: 300px;
    background-color: #28a745; /* Change to your desired background color */
    border-color: #28a745; /* Change to your desired border color */
    color: #fff; /* Change to your desired text color */
    font-size: 16px; /* Adjust font size as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Add rounded corners if desired */
    text-decoration: none; /* Remove underline for anchor buttons */
    cursor: pointer;
    /*margin-right: -195px;*/
    transition: background-color 0.3s, border-color 0.3s; /* Add smooth hover effects */
}

/* Style the Bootstrap btn-success button on hover */
.btn-success:hover {
    background-color: #218838; /* Change to a slightly different color on hover */
    border-color: #218838; /* Change to a slightly different border color on hover */
    /* You can adjust other styles on hover as needed */
}

/* Add more styles as needed to match your design */

.back-btn-outline-dark {
    color: rgb(126, 45, 45); /* Text color */
    border-color: #343a40; /* Border color */
    background-color: transparent; /* Transparent background */
    border-radius: 5px;
}

/* Hover effect */
.back-btn-outline-dark:hover {
    color: #fff; /* Text color on hover */
    background-color: rgb(126, 45, 45); /* Background color on hover */
}

.back-btn {
    background-color: transparent; /* Change to your desired background color */
    border: 1px solid rgb(18, 46, 78); /* Change to your desired border color */
    color: rgb(18, 46, 78); /* Change to your desired text color */
    font-size: 16px; /* Adjust font size as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Add rounded corners if desired */
    text-decoration: none; /* Remove underline for anchor buttons */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; /* Add smooth hover effects */
}

/* Style the Bootstrap btn button on hover */
.back-btn:hover {
    background-color: rgb(18, 46, 78); /* Change to a slightly different color on hover */
    border-color: rgb(18, 46, 78); /* Change to a slightly different border color on hover */
    /* You can adjust other styles on hover as needed */
}


/* FOOTER DESIGN*/
.footer {
    position: relative;
    width: 100%;
    background: rgb(18, 46, 78);
    min-height: 80px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.f-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("image/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 12s linear infinite;
}

.wave#wave2 {
    z-index: 1000;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWaves 15s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 9s linear infinite;
}

.wave#wave4 {
    z-index: 1000;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWaves 11s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

/* END OF FOOTER DESIGN */

/* ABOUT.HTML DESIGN */


.a-register-form {
    border: 0 solid #ddd;
    padding: 40px; /* Add padding for better readability */
    width: 90%; /* Ensure description takes full width */
    box-sizing: border-box;
    margin-left: 80px;
    margin-bottom: 100px;
    box-shadow: hsl(0, 0%, 80%) 0 0 30px;
    background-color: #fff;
    border-radius: 8px;
}


/* TEAM PAGE */

/* Three columns side by side */
.t-column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .t-column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.t-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.t-container {
    padding: 0 10px;
}

/* Clear floats */
.t-container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.t-title {
    color: rgba(18, 46, 78, 0.9);
}

.t-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: rgb(18, 46, 78);
    text-align: center;
    cursor: pointer;
    width: 250%;
}

.t-button:hover {
    background-color: #555;
    color: white;
}

/* API container*/

.api-container {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    color: #333;
}

.holiday-details {
    margin-top: 15px;
    font-size: 18px;
    color: #555;
}

.countdown {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.time-unit {
    text-align: center;
}

#days,
#hours,
#minutes,
#seconds {
    font-size: 24px;
    font-weight: bold;
    color: #ff5722; /* Your accent color */
}

p {
    margin: 5px 0;
    color: #888;
}


/* CONTACT US PAGE  */


.contact_us_6 * {
    font-family: Montserrat, sans-serif;
}

.contact_us_6 .text-blk {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    line-height: 25px;
}

.contact_us_6 .responsive-cell-block {
    min-height: 75px;
}

.contact_us_6 input:focus,
.contact_us_6 textarea:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

.contact_us_6 .container-block {
    min-height: 75px;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
}

.contact_us_6 .responsive-container-block {
    min-height: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.contact_us_6 .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 30px;
    width: 35%;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: rgb(18, 46, 78);
    position: absolute;
    height: 950px;
    right: 0px;
}

.contact_us_6 .responsive-container-block.container {
    position: relative;
    min-height: 75px;
    flex-direction: row;
    z-index: 2;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    max-width: 1320px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.contact_us_6 .container-block.form-wrapper {
    background-color: white;
    max-width: 450px;
    text-align: center;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-top: 90px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
}

.contact_us_6 .text-blk.contactus-head {
    font-size: 36px;
    line-height: 52px;
    font-weight: 900;
}

.contact_us_6 .text-blk.contactus-subhead {
    color: #9c9c9c;
    width: 300px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    display: none;
}

.contact_us_6 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 26px;
    margin-left: 0px;
    min-height: 50px;
}

.contact_us_6 .input {
    width: 100%;
    height: 50px;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    color: black;
}

.contact_us_6 .textinput {
    width: 98%;
    min-height: 150px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
}

.contact_us_6 .submit-btn {
    width: 98%;
    background-color: rgb(18, 46, 78);
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.contact_us_6 .form-box {
    z-index: 2;
    margin-top: 0px;
    margin-right: 48px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .text-blk.input-title {
    text-align: left;
    padding: 0px 0px 0px 10px;
    font-size: 14px;
    margin: 0px 0px 5px;
    color: #9c9c9c;
}

.contact_us_6 ::placeholder {
    color: #dadada;
}

.contact_us_6 .mob-text {
    display: block;
    text-align: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}

.contact_us_6 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.contact_us_6 .text-blk.contactus-subhead.color {
    color: white;
}

.contact_us_6 .map-box {
    max-width: 800px;
    max-height: 520px;
    width: 100%;
    height: 520px;
    background-color: #d9d9d9;
    background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/sc23.png");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.contact_us_6 .map-part {
    width: 100%;
    height: 100%;
}

.contact_us_6 .text-blk.map-contactus-head {
    font-weight: 900;
    font-size: 22px;
    line-height: 32px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    color: rgb(18, 46, 78);
}

.contact_us_6 .text-blk.map-contactus-subhead {
    max-width: 300px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.contact_us_6 .social-media-links.mob {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    width: 230px;
    display: flex;
    justify-content: flex-start;
}

.contact_us_6 .link-img {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .link-img.image-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .social-icon-link {
    margin: 0 25px 0 0;
    padding: 0 0 0 0;
}

@media (max-width: 1024px) {
    .contact_us_6 .responsive-container-block.container {
        justify-content: center;
    }

    .contact_us_6 .map-box {
        position: absolute;
        top: 0px;
        max-height: 320px;
    }

    .contact_us_6 .map-box {
        max-width: 100%;
        width: 100%;
    }

    .contact_us_6 .responsive-container-block.container {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .contact_us_6 .map-part {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact_us_6 .container-block.form-wrapper {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .mob-text {
        display: block;
    }

    .contact_us_6 .form-box {
        margin-top: 200px;
        margin-right: 60px;
        margin-bottom: 40px;
        margin-left: 0px;
    }

    .contact_us_6 .link-img {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        display: flex;
        justify-content: space-evenly;
    }

    .contact_us_6 .social-media-links.mob {
        justify-content: space-evenly;
    }

    .contact_us_6 .responsive-cell-block.wk-desk-7.wk-ipadp-12.wk-tab-12.wk-mobile-12 {
        text-align: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
    }

    .contact_us_6 .text-blk.contactus-subhead {
        display: block;
    }

    .contact_us_6 .mob-text {
        text-align: center;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .responsive-container-block.container {
        flex-wrap: wrap;
    }

    .contact_us_6 .form-box {
        margin-top: 200px;
        margin-right: 0px;
        margin-bottom: 40px;
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .contact_us_6 .submit-btn {
        width: 100%;
    }

    .contact_us_6 .input {
        width: 100%;
    }

    .contact_us_6 .textinput {
        width: 100%;
    }

    .contact_us_6 .container-block.form-wrapper {
        margin-top: 80px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .text-blk.input-title {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .contact_us_6 .form-box {
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-left: 20px;
    }

    .contact_us_6 .container-block.form-wrapper {
        padding-top: 50px;
        padding-right: 15px;
        padding-bottom: 50px;
        padding-left: 15px;
    }

    .contact_us_6 .mob-text {
        display: block;
    }

    .contact_us_6 .responsive-container-block.container {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .contact_us_6 .form-box {
        margin-top: 200px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .container-block.form-wrapper {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .form-box {
        margin-top: 220px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .form-box {
        margin-top: 220px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }

    .contact_us_6 .text-blk.contactus-head {
        font-size: 32px;
        line-height: 40px;
    }
}

@media (max-width: 500px) {
    .contact_us_6 .container-block.form-wrapper {
        padding-top: 50px;
        padding-right: 15px;
        padding-bottom: 50px;
        padding-left: 15px;
    }

    .contact_us_6 .container-block.form-wrapper {
        margin-top: 60px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
        margin-left: 0px;
    }

    .contact_us_6 .responsive-container-block {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 35px;
        margin-left: 0px;
    }

    .contact_us_6 .text-blk.input-title {
        font-size: 12px;
    }

    .contact_us_6 .text-blk.contactus-head {
        font-size: 26px;
        line-height: 35px;
    }

    .contact_us_6 .input {
        height: 45px;
    }
}

/*  CONTACT US PAGE RESPONSIVE CSS CODES  */


.contact_us_6 * {
    font-family: Nunito, sans-serif;
}

.contact_us_6 .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
}

.contact_us_6 .responsive-cell-block {
    min-height: 75px;
}

.contact_us_6 input:focus,
.contact_us_6 textarea:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

.contact_us_6 .container-block {
    min-height: 75px;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
}

.contact_us_6 .responsive-container-block {
    min-height: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.contact_us_6 .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 30px;
    width: 35%;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: rgb(18, 46, 78);
    position: absolute;
    height: 950px;
    right: 0px;
}

.contact_us_6 .responsive-container-block.container {
    position: relative;
    min-height: 75px;
    flex-direction: row;
    z-index: 2;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    max-width: 1320px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.contact_us_6 .container-block.form-wrapper {
    background-color: rgb(255, 255, 255);
    max-width: 450px;
    text-align: center;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-top: 90px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
}

.contact_us_6 .text-blk.contactus-head {
    font-size: 36px;
    line-height: 52px;
    font-weight: 900;
    color: rgb(18, 46, 78);
    font-family: Montserrat, sans-serif;
}

.contact_us_6 .text-blk.contactus-subhead {
    color: #9c9c9c;
    width: 300px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    display: none;
}

.contact_us_6 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 26px;
    margin-left: 0px;
    min-height: 50px;
}

.contact_us_6 .input {
    width: 100%;
    height: 50px;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    color: black;
}

.contact_us_6 .textinput {
    width: 98%;
    min-height: 150px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
}

.contact_us_6 .submit-btn {
    width: 98%;
    background-color: rgb(18, 46, 78);
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.contact_us_6 .form-box {
    z-index: 2;
    margin-top: 0px;
    margin-right: 48px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .text-blk.input-title {
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    color: #9c9c9c;
}

.contact_us_6 ::placeholder {
    color: #dadada;
}

.contact_us_6 .mob-text {
    display: block;
    text-align: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}

.contact_us_6 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.contact_us_6 .text-blk.contactus-subhead.color {
    color: white;
}

.contact_us_6 .map-box {
    max-width: 800px;
    max-height: 520px;
    width: 100%;
    height: 520px;
    background-color: #d9d9d9;
    background-image: url("image/map.png");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.contact_us_6 .map-part {
    width: 100%;
    height: 100%;
}

.contact_us_6 .text-blk.map-contactus-head {
    font-weight: 900;
    font-size: 22px;
    line-height: 32px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    color: rgb(18, 46, 78);
}

.contact_us_6 .text-blk.map-contactus-subhead {
    max-width: 300px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.contact_us_6 .social-media-links.mob {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    width: 230px;
    display: flex;
    justify-content: flex-start;
}

.contact_us_6 .link-img {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .link-img.image-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contact_us_6 .social-icon-link {
    margin: 0 25px 0 0;
    padding: 0 0 0 0;
}

@media (max-width: 1024px) {
    .contact_us_6 .responsive-container-block.container {
        justify-content: center;
    }

    .contact_us_6 .map-box {
        position: absolute;
        top: 0px;
        max-height: 320px;
    }

    .contact_us_6 .map-box {
        max-width: 100%;
        width: 100%;
    }

    .contact_us_6 .responsive-container-block.container {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .contact_us_6 .map-part {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact_us_6 .container-block.form-wrapper {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .mob-text {
        display: block;
    }

    .contact_us_6 .form-box {
        margin-top: 200px;
        margin-right: 60px;
        margin-bottom: 40px;
        margin-left: 0px;
    }

    .contact_us_6 .link-img {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        display: flex;
        justify-content: space-evenly;
    }

    .contact_us_6 .social-media-links.mob {
        justify-content: space-evenly;
    }

    .contact_us_6 .responsive-cell-block.wk-desk-7.wk-ipadp-12.wk-tab-12.wk-mobile-12 {
        text-align: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
    }

    .contact_us_6 .text-blk.contactus-subhead {
        display: block;
    }

    .contact_us_6 .mob-text {
        text-align: center;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .responsive-container-block.container {
        flex-wrap: wrap;
    }

    .contact_us_6 .form-box {
        margin-top: 200px;
        margin-right: 0px;
        margin-bottom: 40px;
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .contact_us_6 .submit-btn {
        width: 100%;
    }

    .contact_us_6 .input {
        width: 100%;
    }

    .contact_us_6 .textinput {
        width: 100%;
    }

    .contact_us_6 .container-block.form-wrapper {
        margin-top: 80px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .text-blk.input-title {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .contact_us_6 .form-box {
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-left: 20px;
    }

    .contact_us_6 .container-block.form-wrapper {
        padding-top: 50px;
        padding-right: 15px;
        padding-bottom: 50px;
        padding-left: 15px;
    }

    .contact_us_6 .mob-text {
        display: block;
    }

    .contact_us_6 .responsive-container-block.container {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .contact_us_6 .form-box {
        margin-top: 200px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .container-block.form-wrapper {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .form-box {
        margin-top: 220px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .form-box {
        margin-top: 220px;
        margin-right: 0px;
        margin-bottom: 50px;
        margin-left: 0px;
    }

    .contact_us_6 .text-blk.contactus-head {
        font-size: 32px;
        line-height: 40px;
    }
}

@media (max-width: 500px) {
    .contact_us_6 .container-block.form-wrapper {
        padding-top: 50px;
        padding-right: 15px;
        padding-bottom: 50px;
        padding-left: 15px;
    }

    .contact_us_6 .container-block.form-wrapper {
        margin-top: 60px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_6 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
        margin-left: 0px;
    }

    .contact_us_6 .responsive-container-block {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 35px;
        margin-left: 0px;
    }

    .contact_us_6 .text-blk.input-title {
        font-size: 12px;
    }

    .contact_us_6 .text-blk.contactus-head {
        font-size: 26px;
        line-height: 35px;
    }

    .contact_us_6 .input {
        height: 45px;
    }
}

.c-social-icon__link {
    font-size: 2rem;
    color: rgb(18, 46, 78);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.c-social-icon__link:hover {
    transform: translateY(-10px);
}