{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% load static %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> <!-- Add this line to include your styles.css -->
</head>
<body>
<br>
<h1 class="text-center">Shopping Cart</h1>
<div class="back-button">
    <a class="btn btn-outline-dark back-button" href="/shop">&#x2190; Continue Shopping</a>
</div>
    {%  if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<div class=" co-container row">
    <div class="row">
        <div class="col-lg-12">
            <br>
            <div class="box-element shopping-register-form">
                <div class="cart-row">
                    <div style="flex: 2"></div>
                    <div style="flex: 2"><strong>Item</strong></div>
                    <div style="flex: 1.23"><strong>Price</strong></div>
                    <div style="flex: 1.28"><strong>Quantity</strong></div>
                    <div style="flex: 1.5"><strong>Total</strong></div>
                </div>

                {% for cart_item in cart_items %}
                <div class="cart-row">
                    <div style="flex: 2; transform: rotate(-3deg)"><img class="row-image" src="{{ cart_item.product.image.url }}"></div>
                    <div style="flex: 2.1"><p>{{ cart_item.product.name }}</p></div>
                    <div style="flex: 1.4"><p>€{{ cart_item.product.price }}</p></div>
                    <div style="flex: 1.1">

                        <div class="quantity-form">
                            <div class="quantity-container">
                                <p class="quantity">{{ cart_item.quantity }}</p>
                            </div>
                            <div class="quantity-buttons">

                                <form method="post" action="{% url 'update_cart_item' cart_item.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="increment">
                                    <button class="quantity-button" type="submit">
                                        <img class="chg-quantity" src="{% static 'images/arrow-up.png' %}" alt="Increment">
                                    </button>
                                </form>

                                <form method="post" action="{% url 'update_cart_item' cart_item.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="decrement">
                                    <button class="quantity-button" type="submit">
                                        <img class="chg-quantity" src="{% static 'images/arrow-down.png' %}" alt="Decrement">
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div style="flex:1;"><p>€{{ cart_item.total_price }}</p></div>
                    <div class="cart-row">
                        <div style="flex: 1">
                            <form method="post" action="{% url 'remove_from_cart' cart_item.id %}">
                                {% csrf_token %}
                                <button type="submit" style="float:right; margin:5px;" class="btn btn-danger">Remove</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <p>Your cart is empty.</p>
                {% endfor %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6 text-md-right">
                        <!-- Total and Checkout button -->
                            <h5 style="font-size: 25px">Items: {{ shopping_cart.get_cart_items }}</h5>
                            <h5 style="font-size: 25px">Total: €{{ shopping_cart.get_cart_total }}</h5>
                            <br>
                            <a style="float:right" class="btn btn-success" href="/checkout">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<br>
</html>
{% endblock %}
