{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% load static %}

{% block content %}
     <br>
    <br>
    <div class="row s-container">
        <div class="box-element a-register-form">
            <p style="font-size: 20px">
            <h1>Shipping and Delivery</h1>
            <p>Learn how to check the status of your order and find more information
                about late deliveries or undeliverable orders.</p>
                    <br>
            <h2>Delivery Guarantees</h2>
            <p>We offer guaranteed delivery on certain delivery speeds and select
                products. When guaranteed delivery is available on an order, we'll
                state this on the checkout page, with the associated delivery date
                and cost.</p>

            <p>If we provide a guaranteed delivery date and a delivery attempt isn't
                made by this date, we'll refund any shipping fees associated with
                that order.</p>

            <p>The "order within" countdown timer provides the window of time in
                which you must place the order to receive your delivery by the date
                shown. The delivery day may become unavailable within that timeframe
                due to changes in inventory or delivery capacity before you place
                your order. Your confirmed delivery date is in your order confirmation
                email.</p>

            <p>See our <a href="#">Guaranteed Delivery Terms and Conditions</a> for
                more details.</p>
                    <br>
            <h2>International Free Shipping</h2>
            <p>If your order meets certain requirements and you're shipping to an
                eligible international destination, you can select the <strong>FREE
                    WWHG Global Standard Shipping</strong> option during checkout.</p>
            <p>Orders shipping to an eligible international destination with at least
                the stated minimum euro amount of eligible items qualify for free
                international shipping.</p>

            <p>To see all eligible shipping destinations and order minimum requirements
                for each country, go <a href="#">here</a>.</p>

            <p>You can identify eligible items by the "FREE Shipping" message on the
                product detail or search results pages. Canceling items, combining orders,
                or changing your shipping address, speed, or preference might affect
                your order's free shipping eligibility.</p>

            <h3>Qualifications</h3>
                <ul>
                    <li>You can only ship to delivery addresses located in
                        eligible international destinations.</li>
                    <li>You can ship to multiple delivery addresses, as long as
                        you meet all FREE Shipping requirements for each
                        address.</li>
                    <li>FREE Shipping order minimums vary by country and are
                        based on euros (EUR).</li>
                    <li>If you use the WWHG Currency Converter, the local
                        currency amount reflects the value equivalent to USD
                        at the time of purchase.</li>
                </ul>

            <h3>Steps for Free Shipping</h3>
                <ol>
                    <li>Set your delivery address to the eligible country.</li>
                    <li>Add at least the minimum amount required of eligible
                        products in your shopping cart. Any Fulfilled by WWHG
                        item that indicates free shipping on the product detail
                        or search results pages count towards your free shipping
                        order minimum.</li>
                    <li>Proceed to checkout.</li>
                    <li>Ship your items to a shipping address in an eligible
                        international country.</li>
                    <li>The FREE WWHGGlobal Standard Shipping option is selected
                        automatically for customers who meet the eligibility
                        requirement.</li>
                    <li>Place your order. Your estimated delivery date is stated
                        on the order summary page.</li>
                </ol>

            <p><strong>Note:</strong> If your order doesn't qualify for free
                shipping, it may be because:</p>
                <ul>
                    <li>The shopping cart includes items sold and shipped by a
                        third-party seller.</li>
                    <li>Only items that qualify for free shipping count towards
                        the minimum euro requirement. Delivery fees are charged
                        for all other items.</li>
                    <li>VAT and Import Fees Deposit don't contribute to the
                        minimum euro requirement.</li>
                </ul>
        </div>
    </div>
{% endblock content %}