{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% load static %}

{% block content %}
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>WWHG Team</title>
</head>
    <body>
    <br>
    <br>
    <div class="row">
        <div class="box-element a-register-form">
            <h2>Our Amazing WWHG Team</h2>
            <br>
            <div class="row">
                <div class="box-element a-register-form s-container">
              <div class="t-column">
                <div class="t-card">
                  <img src="#" alt="Siim" style="width:100%">
                  <div class="t-container">
                    <h2>Siim</h2>
                    <p class="t-title">Master of Merging and Strategic Visionary</p>
                    <p>Combining Insights for a Comprehensive View.</p>
                    <p>siim@wwhg.com</p>
                    <p><button><a href="mailto:siim@wwhg.com" class="t-button">Contact</a></button></p>
                  </div>
                </div>
              </div>

              <div class="t-column">
                <div class="t-card">
                  <img src="#" alt="Are" style="width:100%">
                  <div class="t-container">
                    <h2>Are</h2>
                    <p class="t-title">GitHub Scholar and Thought Leader</p>
                    <p>Shaping the Future through Code and Thought Leadership"</p>
                    <p>are@wwhg.com</p>
                    <p><button><a href="mailto:are@wwhg.com" class="t-button">Contact</a></button></p>
                  </div>
                </div>
              </div>

               <div class="t-column">
                <div class="t-card">
                  <img src="#" alt="Tarmo" style="width:100%">
                  <div class="t-container">
                    <h2>Tarmo</h2>
                    <p class="t-title">Code Wisard and Innovative Thinker</p>
                    <p>exceptional skills and expertise in software development</p>
                    <p>tarmo@wwhg.com</p>
                    <p><button><a href="mailto:tarmo@wwhg.com" class="t-button">Contact</a></button></p>
                  </div>
                </div>
              </div>

                <div class="t-column">
                <div class="t-card">
                  <img src="#" alt="ChatGPT" style="width:100%">
                  <div class="t-container">
                    <h2>ChatGPT</h2>
                    <p class="t-title">Our team teacher and mentor</p>
                    <p>I know all!!!</p>
                    <p>chatgpt@wwhg.com</p>
                    <p><button><a href="mailto:chatgpt@wwhg.com" class="t-button">Contact</a></button></p>
                  </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    </body>
{% endblock content %}






