{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% load static %}

{% block content %}
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>WWHG Team</title>
</head>
    <body>
    <br>
    <br>
    <div class="row">
        <div class="box-element a-register-form">
            <h2>Our Amazing WWHG Team</h2>
            <br>
            <div class="row">
                <div class="box-element a-register-form">
              <div class="t-column">
                <div class="t-card">
                  <img src="{% static 'images/team_photo.png' %}" alt="Siim" style="width:100%">
                  <div class="t-container">
                       <br>
                    <h2>Siim</h2>
                      <br>
                      <p class="t-title"><strong>Master of Merging and Strategic Visionary</strong></p>
                    <p>Combining Insights for a Comprehensive View.</p>
                      <br>
                      <p>siim@wwhg.com</p>
                    <p><button><a href="mailto:siim@wwhg.com" class="btn btn-success">Contact</a></button></p>
                  </div>
                </div>
              </div>

              <div class="t-column">
                <div class="t-card">
                  <img src="{% static 'images/team_photo.png' %}" alt="Are" style="width:100%">
                  <div class="t-container">
                            <br>
                    <h2>Are</h2>
                            <br>
                    <p class="t-title"><strong>GitHub Scholar and Thought Leader</strong></p>
                    <p>Shaping the Future through Code, Thought Leadership</p>
                            <br>
                    <p>are@wwhg.com</p>
                    <button><a href="mailto:are@wwhg.com" class="btn btn-success">Contact</a></button>
                  </div>
                </div>
              </div>

               <div class="t-column">
                <div class="t-card">
                  <img src="{% static 'images/team_photo.png' %}" alt="Tarmo" style="width:100%">
                  <div class="t-container">
                            <br>
                    <h2>Tarmo</h2>
                            <br>
                    <p class="t-title"><strong>Code Wisard and Innovative Thinker</strong></p>
                    <p>Exceptional skills and expertise in software development</p>
                            <br>
                    <p>tarmo@wwhg.com</p>
                    <p><button><a href="mailto:tarmo@wwhg.com" class="btn btn-success">Contact</a></button></p>
                  </div>
                </div>
              </div>

                <div class="t-column">
                <div class="t-card">
                  <img src="{% static 'images/team_photo.png' %}" alt="ChatGPT" style="width:100%">
                  <div class="t-container">
                            <br>
                    <h2>ChatGPT</h2>
                            <br>
                    <p class="t-title"><strong>Our team teacher and mentor</strong></p>
                    <p>I know all!!! Or maybe not all? Ok, but I can help!</p>
                            <br>
                    <p>chatgpt@wwhg.com</p>
                    <p><button><a href="mailto:chatgpt@wwhg.com" class="btn btn-success">Contact</a></button></p>
                  </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    </body>
{% endblock content %}






