{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>World Wide Hidden Gems Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h2>WWHG Products</h2>
    <link rel="stylesheet" type="text/css" href="{% static 'css/all_products.css' %}">
    <p><a href="javascript:history.back()" class="back-link custom-button-container custom-button">Back to main page</a></p>
    <div class="product-container">
        <img src="{% static 'images/latvian_air_can.jpg' %}" alt="Product 1" class="product-image">
        <div class="product-details">
            <h2 class="product-title">Latvian air - 0,5 liter</h2>
            <p class="product-description">There is nothing better than a Latvian breath of air.</p>
            <p class="product-price">6,99€</p>
            <p><a href="/product/1" class="back-link">Read about a product</a></p>
        </div>
    </div>

    <div class="product-container">
        <img src="{% static 'images/latvian_air_can.jpg' %}" alt="Product 2" class="product-image">
        <div class="product-details">
            <h2 class="product-title">Latvian Air - 12 liters</h2>
            <p class="product-description">There is nothing better than a Latvian breath of air</p>
            <p class="product-price">129,99€</p>
        </div>
    </div>

    <!-- Repeat the product containers for each product -->

</body>
</html>
{% endblock %}