{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% load static %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>World Wide Hidden Gems Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <br>
    <h1 class="text-center" style="color: rgb(18, 46, 78) ">WWHG Products</h1>
    <div class="product-container-ap" style="margin-bottom: 200px;">
    {% if products %}
        {% for product in products %}
            <div class="product-details-ap">
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image-ap">
                    <h2 class="product-title-ap" style="color: rgb(18, 46, 78)">{{ product.name }}</h2>
                    <p class="product-price-ap" style="color: rgb(18, 46, 78)">{{ product.price }} €</p>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <div class="container centered">
            <h2>We are sorry, but there are no products in this category.</h2>
            <br>
            <h4>But here's a joke for you:</h4>
            <br>
            <div class="box-element joke-box">
               <h5>{{ random_joke }}</h5>
            </div>
        <br>
        <br>
        <br>
        <br>
        <br>

        <br>
        </div>
    {% endif %}
    </div>
</body>
</html>
{% endblock %}

