<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WWHG/Products</title>
</head>
<body>
    <h1>WWHG - Air</h1>
    <link rel="stylesheet" type="text/css" href="{% static 'css/product_detail.css' %}">
    <p><a href="javascript:history.back()" class="back-link">Back to Products page</a></p>
    <div class="product-detail-container">
        <img src="{% static 'images/latvian_air_can.jpg' %}" alt="Product 1" class="product-image">
        <div class="product-details">
            <h2 class="product-title">Latvian air - 0,5 liter</h2>
            <p class="product-description">There is nothing better than a Latvian breath of air.</p>
            <p class="product-price">6,99€</p>
        </div>
    </div>

</body>
</html>
