{% extends "base.html" %}
{% load static %}

{% block title %}Product Detail{% endblock %}

{% block content %}
<br>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <div class="back-button">
        <a class="btn btn-outline-dark" href="/shop/products">&#x2190; Back to all Products</a>
    </div>
    {%  if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<div class="product-container-dv">
    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image-dv">
    <div class="product-details-dv">
        <h2 class="product-title-dv">{{ product.name }}</h2>
        <br>
        <p class="product-description-dv">{{ product.description }}</p>
        <br>
        <p class="product-price-dv">{{ product.price }} €</p>

        <!-- Add to Cart Button -->
        <div class="add-to-cart-button-container">
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}

                <!-- Quantity Field -->
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" class="quantity-input">
                </div>

                <button type="submit" class="add-to-cart-button add-to-cart-button-container add-to-cart-button:hover">Add to Cart</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
