{% extends "base.html" %}
{% load static %}

{% block title %}Product Detail{% endblock %}

{% block content %}
<br>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<p><a href="javascript:history.back()" class="back-link custom-button-container-b custom-button-b">Back to Products page</a></p>
<div class="product-container-dv">
    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image-dv">
    <div class="product-details-dv">
        <h2 class="product-title-dv">{{ product.name }}</h2>
        <br>
        <p class="product-description-dv">{{ product.description }}</p>
        <br>
        <p class="product-price-dv">{{ product.price }}</p>
    </div>
</div>
{% endblock %}
