{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}About Our Products{% endblock %}

{% load static %}

{% block content %}
     {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
    <br>
  <h1 class="text-center">Change Password</h1>
    <div class="e-back-button">
        <a class="btn btn-outline-dark" href="/edit_profile">&#x2190;
            Back To Profile page
        </a>
    </div>
    <div class="pwd-container">
            <div class="pwd-box-element pwd-register-form">
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Change Password</button>
  </form>
            </div>
    </div>

{% endblock content %}
